<div
    class="change-password-card"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">Old Password</label>
                <mat-form-field>
                    <mat-label>Enter old password</mat-label>
                    <input matInput formControlName="old_password" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                </mat-form-field>
                <mat-error *ngIf="authForm.controls['old_password'].hasError('required')">Old password is required.</mat-error>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">New Password</label>
                <mat-form-field>
                    <mat-label>Enter new password</mat-label>
                    <input matInput formControlName="current_password" [type]="hide2 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                        <span class="material-symbols-outlined">{{hide2 ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                </mat-form-field>
                <mat-error *ngIf="authForm.controls['current_password'].hasError('required')">New password is required.</mat-error>
                <mat-error *ngIf="authForm.get('current_password')?.hasError('required')">
                    Password is required.
                  </mat-error>
                  <mat-error *ngIf="authForm.get('current_password')?.hasError('minlength')">
                    Password must be at least 8 characters long.
                  </mat-error>
                  <mat-error *ngIf="authForm.get('current_password')?.hasError('pattern')">
                    Password must include uppercase, lowercase, number, and special character.
                  </mat-error>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">Confirm Password</label>
                <mat-form-field>
                    <mat-label>Enter confirm password</mat-label>
                    <input matInput formControlName="confirm_password" [type]="hide3 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
                        <span class="material-symbols-outlined">{{hide3 ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                </mat-form-field>
                <mat-error *ngIf="authForm.hasError('passwordMismatch')">Passwords do not match.</mat-error>
            </div>
        </div>
    </div>

    <div class="btn-box">
        <button type="submit" mat-button [disabled]="authForm.invalid">Change Password</button>
    </div>
</form>
</div>
