<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Leads
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/leads/leads" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            My Leads
        </li>
    </ol>
</div>

<!-- Leads Overview -->
<mat-card class="daxa-card stats-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-content>
        <div class="row">
            <div class="col-md-6 col-xxxl-3">

                <!-- New Leads -->
                <app-new-leads />

            </div>
            <div class="col-md-6 col-xxxl-3">

                <!-- Active Leads -->
                <app-active-leads />

            </div>
            <div class="col-md-6 col-xxxl-3">

                <!-- Lead Conversation -->
                <app-lead-conversion />

            </div>
            <div class="col-md-6 col-xxxl-3">

                <app-revenue-growth />

            </div>
        </div>
    </mat-card-content>
</mat-card>

<!-- Leads -->
<mat-card
    class="daxa-card leads-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <form class="search-box position-relative">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search lead..." (keyup)="applyFilter($event)" #input>
            </form>
        </mat-card-title>
        <mat-card-subtitle>
            <a mat-button class="add-new-btn" routerLink="/leads/create-lead">
                + Add New Lead
            </a>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="leads-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox
                                (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()"
                            >
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>
                            ID
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.id}}
                        </td>
                    </ng-container>

                    <!-- Customer Column -->
                    <!-- <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef>
                            Customer
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-black">
                            <div class="info d-flex align-items-center">
                                <div class="image">
                                    <img [src]="element.customer.img" alt="customer-image">
                                </div>
                                <span class="d-block fw-medium">
                                    {{element.customer.name}}
                                </span>
                            </div>
                        </td>
                    </ng-container> -->

                    <!-- Email Column -->
                    <ng-container matColumnDef="user_email">
                        <th mat-header-cell *matHeaderCellDef>
                            Email
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.user_email}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="lead_id">
                        <th mat-header-cell *matHeaderCellDef>
                            Lead ID
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.lead_id}}
                        </td>
                    </ng-container>

                    <!-- Phone Column -->
                    <!-- <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef>
                            Phone
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.phone}}
                        </td>
                    </ng-container> -->

                    <!-- Create Date Column -->
                    <!-- <ng-container matColumnDef="createDate">
                        <th mat-header-cell *matHeaderCellDef>
                            Create Date
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.createDate}}
                        </td>
                    </ng-container> -->

                    <!-- Company Column -->
                    <!-- <ng-container matColumnDef="company">
                        <th mat-header-cell *matHeaderCellDef>
                            Company
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.company}}
                        </td>
                    </ng-container> -->

                    <!-- Lead Source Column -->
                    <ng-container matColumnDef="source">
                        <th mat-header-cell *matHeaderCellDef>
                            Lead Source
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.source}}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>
                            Status
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="daxa-badge in-progress  d-inline-block" *ngIf="element.status=='Draft'">
                                {{element.status}}
                            </span>
                            <span class="daxa-badge new d-inline-block" *ngIf="element.status=='New'">
                                {{element.status}}
                            </span>
                            <span class="daxa-badge new d-inline-block" *ngIf="element.status=='Inprogress'">
                                {{element.status}}
                            </span>
                            <span class="daxa-badge won d-inline-block" *ngIf="element.status=='Completed'">
                                {{element.status}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-info">
                                <a mat-button  matTooltip="Edit Lead"  matTooltipPosition="above" (click)="editLead(element)">
                                    <i class="material-symbols-outlined">
                                        Edit
                                    </i>
                                </a>
                                <button type="button" mat-button matTooltip="Delete" matTooltipPosition="above" (click)="deleteLeads(element.id)">
                                    <i class="material-symbols-outlined">
                                        Delete
                                    </i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
