<mat-card
    class="daxa-card leads-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <form class="search-box position-relative">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search events..." (keyup)="applyFilter($event)" #input>
            </form>
        </mat-card-title>
        <mat-card-subtitle>
            <a mat-button class="add-new-btn" routerLink="/website/create-events">
                + Create New Events
            </a>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="leads-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox
                                (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()"
                            >
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>
                            ID
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.id}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="organizer_name">
                        <th mat-header-cell *matHeaderCellDef>
                            Organiser Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.organizer_name}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="event_title">
                        <th mat-header-cell *matHeaderCellDef>
                            Event Topic
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.event_title}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="location">
                        <th mat-header-cell *matHeaderCellDef>
                            Place of Event
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.location}}
                        </td>
                    </ng-container>


                    <!-- Lead Source Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Status
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.status}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Created On
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.created_at  | date: 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-info">
                                <button type="button" (click)="editEvent(element)" mat-button matTooltip="Edit" matTooltipPosition="above">
                                    <i class="material-symbols-outlined">
                                        edit
                                    </i>
                                </button>
                                <button type="button" (click)="deleteLeads(element.id)" mat-button matTooltip="Delete" matTooltipPosition="above">
                                    <i class="material-symbols-outlined">
                                        Delete
                                    </i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>