<mat-card class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Additional Information
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="info-list pr-0 pl-0 mb-0 mt-0 list-unstyled">
            <li>
                <span class="text-body">Phone:</span> {{this.userObject.phone_number}}
            </li>
            <li>
                <span class="text-body">Communication Address:</span>  {{this.userObject.c_address}}
            </li>
        </ul>
    </mat-card-content>
</mat-card>
